:root{

    
    font-family: 'Montserrat', sans-serif; 



}

.form{
    width: 100%; 
    height: 100%; 
    position: relative; 
    background: white;
}
.rectanguloderecha{
    width: 587px; 
    height: 1032px; 
    left: 853px; 
    top: 0px; 
    position: absolute; 
    background: linear-gradient(90deg, rgba(180, 146, 253, 0.30) 0%, rgba(173, 78, 245, 0.95) 100%);
}
.rectanguloarriba{
    width: 410px; 
    height: 500px; 
    left: 950px; 
    top: 250px; 
    position: absolute;
    background-image: url(../assets/Image20231206171205.png);
}
.cuerpoform{
    width: 450px; 
    height: 600px; 
    left: 215px; 
    top: 210px; 
    position: absolute; 
    background: rgba(217, 217, 217, 0);
}
.exteriorform{
    width: 550px; 
    height: 735px; 
    left: 150px; 
    top: 145px; 
    position: absolute; 
    opacity: 0.70; 
    background: white; 
    box-shadow: 20px 20px 60px rgba(93.50, 93.50, 93.50, 0.15);
}
.crearcuenta{
    width: 400px; 
    height: 55px; 
    left: 210px; 
    top: 210px; 
    position: absolute; 
    color: #1D1D1D; 
    font-size: 36px;
     font-family: Montserrat Alternates; 
     font-weight: 600; 
     word-wrap: break-word;
}

    
.imggoogle{
    width: 40px; 
    height: 40x; 
    left: 230px; 
    top: 310px; 
    position: absolute;
}
.textogoogle{
    width: 140px; 
    height: 25px; 
    left: 280px; 
    top: 310px; 
    position: absolute; 
    color: #1D1D1D; 
    font-size: 20px; 
    font-family: Montserrat; 
    font-weight: 500; 
    word-wrap: break-word;
}
.imgapple{
    width: 40px; 
    height: 45px; 
    left: 485px; 
    top: 300px; 
    position: absolute;
}
.textoapple{
    width: 205px; 
    height: 30px; 
    left: 535px; 
    top: 320px; 
    position: absolute; 
    color: #1D1D1D; 
    font-size: 20px; 
    font-family: Montserrat; 
    font-weight: 500; 
    word-wrap: break-word;
}
.googlebutton{
    width: 205px;
    height: 70px; 
    left: 215px; 
    top: 290px; 
    position: absolute; 
    background: rgba(244, 241, 255, 0);
     border-radius: 12px; 
     border: 1px #1D1D1D solid; 
}
.applebutton{
    width: 205px; 
    height: 70px; 
    left: 460px; 
    top: 295px; 
    position: absolute; 
    background: rgba(244, 241, 255, 0); 
    border-radius: 12px;
     border: 1px #1D1D1D solid
}
.correo{
    width: 205px; 
    height: 30px; 
    left: 215px; 
    top: 425px; 
    position: absolute; 
    color: #1D1D1D; 
    font-size: 20px; 
    font-family: Montserrat; 
    font-weight: 500; 
    word-wrap: break-word;
}
.correoinput{
    width: 450px; 
    height: 65px; 
    left: 215px; 
    top: 450px; 
    position: absolute; 
    background: rgba(244, 241, 255, 0); 
    border-radius: 12px; 
    border: 1px #1D1D1D solid;
}
.placeholdercorreo{
    width: 200px;
     height: 35px; 
     left: 240px; 
     top: 470px; 
     position: absolute; 
     color: #6667B0; 
     font-size: 20px; 
     font-family: Montserrat; 
     font-weight: 500; 
     word-wrap: break-word;
}
.contraseña{
    width: 205px; 
    height: 30px; 
    left: 215px; 
    top: 545px; 
    position: absolute; 
    color: #1D1D1D; 
    font-size: 20px; 
    font-family: Montserrat; 
    font-weight: 500; 
    word-wrap: break-word;
}
.contraseñainput{
    width: 450px; 
    height: 65px; 
    left: 215px; 
    top: 580px; 
    position: absolute; 
    background: rgba(244, 241, 255, 0); 
    border-radius: 12px; 
    border: 1px #1D1D1D solid;
}
.placeholdercontraseña{
    width: 222px; 
    height: 45px; 
    left: 240px; 
    top: 590px; 
    position: absolute; 
    color: #6667B0; 
    font-size: 20px; 
    font-family: Montserrat; 
    font-weight: 500; 
    word-wrap: break-word;
}
.loginbutton{
    width: 450px; 
    height: 65px; 
    left: 215px; 
    top: 695px; 
    position: absolute; 
    background: #6B43FF; 
    border-radius: 12px;
}
.logintext{
    width: 380px; 
    left: 250px; 
    top: 700px; 
    position: absolute; 
    text-align: center; color: #F4F1FF; 
    font-size: 35px; 
    font-family: Montserrat; 
    font-weight: 700; 
    word-wrap: break-word;
}
.alreadyhave{
    left: 350px; 
    top: 770px; 
    position: absolute; 
    color: #663dfa; 
    font-size: 22px; 
    font-family: Montserrat; 
    word-wrap: break-word
}
.linea1{
    width: 205px; 
    height: 0px; 
    left: 215px; 
    top: 390px; 
    position: absolute; 
    border: 1px #6667B0 solid;
}
.linea2{
    width: 205px; 
    height: 0px; 
    left: 460px; 
    top: 390px; 
    position: absolute; 
    border: 1px #6667B0 solid;
}
.or{
    width: 55px; 
    height: 45px; 
    left: 430px; 
    top: 375px; 
    position: absolute; 
    color: black; 
    font-size: 22px; 
    font-family: Montserrat;
     font-weight: 500; 
     word-wrap: break-word; 
}